{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'cdnlines.html' %}    
    <style>

        table{
            color: black;
            font-size: medium;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-image: url(https://png.pngtree.com/background/20210716/original/pngtree-3d-home-office-virtual-background-light-blue-clock-picture-image_1347709.jpg);

        }
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    {% include 'navbar.html'%} 
    <div class="cointainer-fluid mt-2">
        <div class="row">
            <div class="col-md-3" style="margin: 0px;">
                <a href="{% url 'Hyderabad'%}" class=" btn btn-outline-info btn-lg text-right "> Hyderabad</a>
            </div>
            <div class="col-md-6">
                <h1  style="text-align: center;color:rgb(115, 92, 137)">Banglore Emp Details</h1>
            </div>
            <div class="col-md-3">
                <a href="{% url 'Chennai'%}" class=" btn btn-outline-warning btn-lg"> chennai</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="d">
                <img src="{% static 'image/b1.jpg'%}" alt="" style="border-radius: 20%;" height="100%" width="100%" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="{% static 'image/b3.jpg'%}" alt="" height="100%" width="100%" style="border-radius: 50%;" class="img-thumbnail" >

            </div>
            <div class="col-md-4" id="d1">
                <img src="{% static 'image/b2.jpg'%}" alt="" height="100%" width="100%" style="border-radius: 20%;" class="img-thumbnail">
            </div>
        </div>

    </div>
    <div class="container-fluid">
    {% if emps %}
    <table class="table table-bordered table-hover secondary" style="border-color: rgb(6, 90, 90);">
        <thead  class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Company</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Address</th>
            </tr>
        </thead>

        <tbody>
            {% for i in emps %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.Firstname}}</td>
                <td>{{i.Lastname}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Company}}</td>
                <td>{{i.Location}}</td>
                <td>{{i.Salary}}</td>
                <td>{{i.Address}}</td>  
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
    </div>
    
    

    
</body>
</html>